body {
 background-color: rgb(215, 213, 213);
 margin: 0;
}

.container {
 width: 60%;
 margin: auto;
 font-size: 1.25em;
 box-sizing: border-box;
 padding: 10px;
 text-align: justify;
}

.container > span {
 color: red;
 cursor: pointer;
}

#word-description {
 position: fixed;
 top: 10px;
 left: 10px;
 padding: 20px;
 width: 50px;
 text-align: center;
 border: 1px solid green;
 border-radius: 20px;
}